.float {
  position: absolute;
  padding: 9px 12px;
  background: #111117dd;
  border: 1px solid #302c39;
  border-radius: 7px;
  color: #aaa;
  font-size: 11px;
}

.f1 {
  top: 18%;
  right: 10%;
}

.f2 {
  bottom: 18%;
  left: 10%;
}

.f3 {
  top: 43%;
  right: 5%;
}
